.footer {
  width: 100vw;
  background-color: #111111;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 50px;
}

.text {
  color: #ffffff;
  white-space: pre-wrap;
}

.link {
  color: #186ee7;
  font-weight: 700;
  cursor: pointer;
}
