.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 3s infinite linear colorChange;
}

.moi {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50px;
  color: #186ee7;
}

.carPic {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  border: 10px dotted #186ee7;
  margin-bottom: 40px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  from {
    background-color: #00d0ff;
  }
  50% {
    background-color: #ff4a00;
  }
  to {
    background-color: #00d0ff;
  }
}
