.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 3s infinite linear colorChange;
}

.moi {
  font-family: "Comic Sans MS", "Comic Sans";
  color: #186ee7;
  animation: 1s infinite linear zoomText;
}

.moi {
  font-family: "Comic Sans MS", "Comic Sans";
  color: #186ee7;
  animation: 1s infinite linear zoomText;
}

.carPic {
  max-width: 400px;
  max-height: 100%;
  border: 10px dotted #186ee7;
  margin-bottom: 40px;
  animation: 4s infinite linear spin, 1s infinite linear zoom;
}

.musicCredit {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  right: 0;
  margin-block: 0;
  padding: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  from {
    width: 250px;
  }
  50% {
    width: 400px;
  }
  to {
    width: 250px;
  }
}

@keyframes zoomText {
  from {
    font-size: 50px;
  }
  50% {
    font-size: 80px;
  }
  to {
    font-size: 50px;
  }
}

@keyframes colorChange {
  from {
    background-color: #00d0ff;
  }
  50% {
    background-color: #ff4a00;
  }
  to {
    background-color: #00d0ff;
  }
}
